<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329990842814-duk25mndqrnlog08ekc7rha6qulp0c64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329990842814-duk25mndqrnlog08ekc7rha6qulp0c64</string>
	<key>API_KEY</key>
	<string>AIzaSyDElRHwBboEOM2RAoCY5WtBy39FPlUrdqM</string>
	<key>GCM_SENDER_ID</key>
	<string>329990842814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raywenderlish.wonderWords</string>
	<key>PROJECT_ID</key>
	<string>wonder-words-zxf</string>
	<key>STORAGE_BUCKET</key>
	<string>wonder-words-zxf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329990842814:ios:d29ef51c16c33726cc31ef</string>
</dict>
</plist>